<div data-controller="rule-builder" class="rule-builder">
  <%= @form.hidden_field :state %>

  <%= @form.fields_for :rule do |rule_form| %>
    <% current_state = @form.object.state %>
    <% rule_type = rule_form.object.type %>

    <% if rule_type == "PersonRule" %>
      <%= render PersonRuleFieldsComponent.new(
        form: rule_form,
        traits: @traits,
        state: current_state
      ) %>
    <% elsif rule_type == "EventRule" %>
      <!-- EventRule logic goes here -->
    <% end %>
  <% end %>
</div>
