<h1>Goals</h1>

<%= link_to "Create New Goal", new_goal_path, class: "btn btn-primary" %>

<div class="goals-list">
  <% @goals.each do |goal| %>
    <%= render GoalComponent.new(goal: goal) %>
  <% end %>
</div>
