<h1 class="title">Goals</h1>

<%= link_to "Create New Goal", new_goal_path, class: "button is-primary" %>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.name %></td>
        <td><%= truncate(goal.description, length: 100) %></td>
        <td>
          <%= link_to "Show", goal_path(goal), class: "button is-light" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
