<h1>New Goal</h1>

<!-- Wrap the form in a Turbo Frame to handle Turbo Stream updates -->
<%= turbo_frame_tag "goal_form" do %>
  <%= render "form", goal: @goal %>
<% end %>

<%= link_to 'Back', goals_path, class: "btn btn-secondary" %>
